*{
    margin: 0;
    padding: 0;

}
.main-cont{
    background-color: rgb(173, 173, 244);
height: 500px;
width: 390px;
display: block;
margin: 10px auto;
border-radius: 10px;
padding: 10px;

}
.searchbar{
    border: none;
    font-size: 25px;
    display: block;
    margin: 10px auto;
    margin-top: 50px;
    width: 250px;
    text-align: center;
    }
.heading{
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}
.temp{
    font-size: 25px;
    text-align: center;
}




.city-1{
    font-size: 25px;
    text-align: center;
    margin: 15px;
}
